.intro {
  padding: 10px 30px;
  text-align: center;
}

.introTitle {
  margin: 0px auto;
  font-weight: normal;
  width: fit-content;
}

.introTitle:hover {
  background: url('../images/floral-s.png') rgba(0, 109, 119, 0.1);
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
}

.introDetails {
  line-height: 1.5em;
  margin: 10px 0 10px 0;
}

.highlight {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 50%, rgba(0, 109, 119, 0.1) 50%);
  display: inline;
}